$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2cbe;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
.oneBook{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
position: relative;
box-shadow: 1px 1px 1px 2px rgba(10, 6, 6, 0.507);
padding: 40px 0;
background-image: linear-gradient(45deg ,rgba(169, 183, 164, 0.651) , rgba(180, 192, 175, 0.623)) ,url("https://i.pinimg.com/originals/77/75/ae/7775aef865252b226af2823ed9fc950f.jpg"); 
background-size: 90%;
background-position: center;
font-family: 'Lateef', cursive;

@media only screen and (max-width: 600px) {
    flex-flow: column-reverse;
    .oneBook__right ,.oneBook__left{
        width: auto;
        margin-bottom: 30px;
    }

}
    &__right {
        position: relative;

        height: 60vh;
        width: 40vw;
        padding: 1%;
        background-image: unset;
        border-radius: 5px;
        box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.561);
        display: flex;
        flex-flow: row-reverse;

        img {
            height: 100%;
            width: 100%;
            z-index: 1;
            // object-fit: cover;
        }
    }
    &__left{
        background-color: rgba( #44503F,   0.6);
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 1.0);
        color: #1A2320;
        width: 40vw;
        text-align: center;
        margin: 0 10px;
        display: flex;
        padding-right: 20px;
        flex-flow: column;
        justify-content: space-between;
        p{
            text-align: right;
        }
        h4{
            text-align: right;
            border-top: 1px solid black;
        padding-top: 10px;        }
    }
    &__images{
        display: flex;
        flex-flow: column;
        position: absolute;
        
        bottom: 10px;
        left: 10px;
       
        z-index: 9999;
        // background-color: black;

        img{
            width: 10%;
            height: 10%;
            object-fit: cover;
            margin: 2px;
            opacity: 0.5;
            transition: all .2s;
            cursor: pointer;
            &:hover{
                opacity: 1;
                border: 3px solid green;
            }
        }
    }

    &__btn{
       
        // left: 10%;
        display: inline-block ;
        font-size: 20px; 
        width: 50%;
        padding:5px 5px;
        border-radius: 50px;
        margin-bottom: 20px;
        border: none;
        // margin-right: 20px;
        transform: translateX(97%);
        background-image: linear-gradient(to right ,#EAC49A, #E7BB88);
        transition: all .2s;
        &:active{
            transform: translate(97%,-2px);
        }
    a {
        color: rgb(23, 32, 4);
        text-decoration: none;
        @media only screen and (max-width: 600px) {
            font-size: 14px;
            padding:1px 1px !important;

        }
    }
    }
}