body {
   
        // background-color: blue;
        background-image: linear-gradient(to right bottom , rgba(#f9fbe7, 0.863) , rgba(246, 240, 187, 0.87));
   background-size: 100%;
   height:100vh;
   max-width: 1250px;
   margin: auto;
    
}

@import './pages/home';
@import './component/btn';
@import './pages/preOrder';
@import './pages/order';
@import './pages/userAcount';

@import './pages/login';
@import './pages/dashboard';
@import './tools/animations';
@import './tools/laoding';
@import './pages/oneBook';
@import './component/ditails';
@import './component/theBooks';
@import './component/nave';
@import './component/autoSuggest';