.btn{
   background-image: linear-gradient(to right bottom ,#344641 ,rgba(35, 47, 43, 0.767));
   padding: 6px 40px;
    border-radius: 30px;
color: cornsilk;
    &:link , &:visited {

    }
    &-text{
        color: cornsilk;
        text-decoration: none;
    }

}