.btn{
   background-image: linear-gradient(to right bottom ,#344641 ,rgba(35, 47, 43, 0.767));
   padding: 6px 40px;
    border-radius: 30px;
    cursor: pointer;
color: cornsilk;
    &:link , &:visited {

    }
    &-text{
        color: cornsilk;
        text-decoration: none;
    }
   

}

.btn-gry{

    // background: #fff;
    border: 3px;
    background-color: #ddd;
    color: rgb(10, 1, 1);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;

}