.navebar{

        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        &__logo {
        padding: 0;
      
        margin: 10px 0 0 10% ;
        width: 50px;
        height: 30px;
        }
        &__userDitailse{
         padding: 0;
        
         width: 50px;
         height: 30px;

        }

        &__right {
            margin: 10px 10% 0 0 ;
            display: flex;
        flex-direction: column;
        transition: all 0.5s;
            label {
                font-size: 10px;
                opacity: 0;
                margin: 0;
                
            }
            &:hover {
                label {
                    opacity: 1;
                    
                }
            }

        }

    
}