$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2cbe;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
@keyframes swep {
    from {
transform: scale(0); 
   }
    to {
        transform: scale(1); 
    }
  }
.books {
    // font-size: 5px;
    // // grid-column: center-start / center-end;
    // // margin: 150px 0;

    // // display: grid;
    // // grid-template-columns: repeat(auto-fit, minmax(250px, 2fr ));
    // // grid-gap: 70px;
    // // margin: 5% 1%;
    // width: 95vw;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  

}

.book {
  margin-top: 20px;
  animation-name: swep; 
   
  animation-duration: 2s;
    background-color: $color-grey-light-1;
    width: 26%;
    height: 422px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
        width: 48%;
        height: 340px;
        margin-top: 9px;
     
    }
  display: flex;
  flex-flow: column;
        &__up {
            width: 100%;
            height: 275px;
            @media only screen and (max-width: 600px) {
                
                height: 200px;
            }
            position: relative;

        }
    &__img {
        width: 100%;
       height: 100%;
        z-index: 1;
    }
    &__name {
       position: absolute;
        bottom: 2%;
        left: 5%;
        z-index: 3;
        @media only screen and (max-width: 600px) {
            font-size: 15px;

        }

        width: 80%;
        font-family: $font-display;
        font-size: 18px;
        text-align: center;
        padding: 10.5px;
        background-color: $color-secondary;
        color: #fff;
        font-weight: 400;
        margin: 0;
    }
    &__center {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 5px;
        // height: 20%;
       
    }
    &__ditails{
        display: flex;
        justify-content: space-around;
        flex-flow: row-reverse;
        font-size: 12px;
        img {
            height:30px

        }
        @media only screen and (max-width: 600px) {
            font-size: 10px;
                img {
                    height:20px
                }

        }
        width: 50%;
    }
    &__btn {
        font-size: 15px;
        @media only screen and (max-width: 600px) {
            font-size: 12px;
        }
        // height: 10%;
    }


   

   
}
.btn2 {
    background-image: linear-gradient(to right bottom ,rgb(185, 175, 115) ,rgba(165, 187, 114, 0.178));
    color: 2a3852;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    
    text-transform: uppercase;
    padding: 18px 30px;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}


