.radio {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media only screen and (max-width: 600px) {
      margin-left: 12px;
      font-size: 16px;
 }
  }
  
  /* Hide the browser's default radio button */
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  // .radio input:checked ~ .checkmark {
  //   background-color: #2196F3;
  // }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
  @import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');



:root {
  --border-radius: 10px;
}



.Card {
  padding: 1px;
  border-radius: var(--border-radius);
  background-image: linear-gradient(to right bottom, #ffeac5a6, rgba(83, 65, 8, 0.507)),url('https://secure.img1-fg.wfcdn.com/im/42698490/compr-r85/5688/56888399/default_name.jpg');
  overflow: hidden;
  box-shadow: 
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;
  width: 100%;
  background-position: center;
  background-size: cover;
  
}

.CardInner {
  padding: 16px 16px;
  background-image: linear-gradient(to right bottom ,rgba(105, 100, 70, 0) rgbargba(109, 119, 74, 0)) ,url('https://secure.img1-fg.wfcdn.com/im/42698490/compr-r85/5688/56888399/default_name.jpg');
  border-radius: var(--border-radius);
  background-position: center;
  background-size: cover;
}

.container2 {
  display: flex;
  flex-flow: row-reverse;
  
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow: 
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;
    transform: translateX(10px);
    transition: all .2s;
    &:hover{
      transform: translate(11px ,-1px);
      box-shadow: 
      -2px -2px 6px rgba(rgb(78, 77, 8), .6),
      2px 2px 12px #010d1a;
      pointer-events: all;
    }
    
  svg {
    transform: translate(-1px, -1px);    
  }
}

.label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66;
  margin-bottom: 12px;
  background: linear-gradient(45deg, rgba(#456d9e, 1), #2a3852);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.InputContainer {
  width: 100%;
}

.input {
  background-color: #e3edf7;
  text-align: right;
  transform: translateX(-40px);
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
  
  &::placeholder {
    color: #030e1888;
    text-align: right;
   

  }
  
  &:focus {
    outline: none;
    color: #6d7f8f;
    background-color: lighten(#e3edf7, 3%);
  }
};
  
.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);
  
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  
  &:before,
  &:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  &:before {
    box-shadow: var(--bottom-shadow);
  }
  
  &:after {
    box-shadow: var(--top-shadow);
  }
}