.react-autosuggest__input{
    background-color: #e3edf7;
    text-align: right;
    transform: translateX(-40px);
    padding: 16px 32px;
    border: none;
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: #a9b8c9;
    -webkit-appearance: none;
    transition: all 240ms ease-out;
    width: 100%;

}